[2014-11-27 08:00] gpbl opened #1 "Make the app consuming a rest api example"

[2014-11-27 08:00] gpbl opened #2 "Add i18n"

[2014-11-27 08:01] gpbl opened #3 "404 Not Found and 500 Server error routes"
For the not found page:

- [x] NotFound Route
- [x] 404 Status on server

For the error page:

- [x] Load the error view with express

[2014-11-27 08:01] gpbl opened #4 "Isomorphic example using flux"

[2014-11-27 08:03] gpbl opened #5 "Add linters"

[2014-11-27 20:46] gpbl opened #6 "Get rid of sass using javascript styles"
I'd like to remove the CSS preprocessor and go straight with javascript also for the CSS (whoo), but it seems the available modules do not fit well with my architecture.
- [react-style](https://github.com/js-next/react-style) is on the top list, but it is not working [yet](https://github.com/js-next/react-style/issues/68) with react-hot-loader.
- [RCSS](https://github.com/chenglou/RCSS/) does not

[2014-11-27 20:53] gpbl opened #7 "Add meta tags to <head>"

[2014-11-28 20:55] #1 closed, assigned to nobody

[2014-12-14 04:45] geekyme opened #8 "Use of webpack for CSS preprocessing"
Hi,

I noticed the use of gulp & livereload for preprocessing styles and reloading on the client. Wouldn't it be better to use webpack to handle this?

http://webpack.github.io/docs/stylesheets.html

Webpack can use loaders for SASS, then using the ExtractTextPlugin, it can build your required css files on the fly.

Good job anyway on this boilerplate. It uses almost everything I want to use for a

[2014-12-14 06:19] #8 closed, assigned to nobody

[2015-01-06 09:09] edjafarov commented on #4
@gpbl I built a proof of concept of isomorphic app (https://github.com/edjafarov/fluxnot) with React router and ontop of something like flux.
I stumbled on problem of context - it was pretty complicated to solve it for reflux/flux so I built it on simplified concepts.
I came up to Idea that we need a context. Within the context stores should be initialized. Thus those should be created per request

[2015-01-06 09:41] fraserxu commented on #4
I find here is the best way to handle context so far: https://github.com/insin/isomorphic-lab/blob/master/src/utils/env.js

[2015-01-06 09:44] edjafarov commented on #4
@fraserxu I meant app context. But I like this browser/node context differintiator

[2015-01-06 10:26] gpbl commented on #4
@edjafarov you couldn't explain the problem better. I'm still not convinced by one request = one contexts solution.

The key concepts are

– stores are pre-filled with data on the server,
– nothing should listen to stores on the server
– some store should trigger relevant data for the current context.
– stores may cache data

But what is a *context*? As first I thought a request, but in many cases

[2015-01-06 10:53] edjafarov commented on #4
question here is how will you get the data to fill them?
My answer is to make all code isomorphic and use superagent to get data on server as well using server API. Thus how to get the data and fill the stores?  My answer - at the end of actions stores should be filled with data.

you are absolutely right. There need to be a way to get initial state for components right from the component. Like th

[2015-01-06 11:42] gpbl commented on #4
yeah @edjafarov definitely the cache thing doesn't make sense :) That's because I'm trying to apply Reflux to a server side rendering, skipping the need of initializing multiple stores.

My answer is to make all code isomorphic and use superagent to get data on server as well using server API. Thus how to get the data and fill the stores? My answer - at the end of actions stores should be filled w

[2015-01-06 11:50] edjafarov commented on #4
That is why I am not using flux/reflux.

But lets keep in mind that flux is not just framework - it is an architecture that is rising pretty awesome concepts we can use to get to our goal. That is why I had to build other framework. And so far it is working pretty well and I have promising results without side effects. With what I came up now I am almost not thinking about context.

[2015-01-06 11:57] gpbl commented on #4
Yeah i understand your point – before the arrive of flux, I was also running isomorphic apps without so much hassle :-) We are all confronting the same problems, using our self developed solution: instead, I'd love to find a unique approach where people could contribute. Do you aim to make your fluxnot approach a bit more documented / reusable?

[2015-01-06 12:03] edjafarov commented on #4
Yes that is my goal - to build a kind of framework out of it. So far It is not documented because it was just built - still working on better API. It works and I want to build one simple real app to check if there are no showstoppers for such architecture.
Also I really want to steal some of your solutions :) like how to render index.html - it is really awesome!

[2015-01-06 12:16] gpbl commented on #4
thanks! good luck with that :+1:

[2015-01-07 16:34] edjafarov commented on #4
`getInitialState` is not async. Thus stores should be somehow binded to routes - the route need to know what stores and how they should be filled and also when they are ready. Right?
It might make sense to have getAsyncInitialState :)

[2015-01-07 16:43] gpbl commented on #4
right @edjafarov , that's why the `renderToString` must happen only when the api requests are complete. as in the good old times:

[code]

[2015-01-08 23:31] benoneal commented on #6
Would also like to see javascript styles implemented in this, though I prefer the react-styles implementation over RCSS, which seems to require more handholding.

[2015-01-09 08:52] gpbl commented on #6
+1 for react-styles

[2015-01-12 10:52] edjafarov commented on #6
https://twitter.com/dan_abramov/status/554411131176235009
https://github.com/jsstyles/react-jss

thought I would prefer to have react-style instead.

[2015-01-27 23:39] sebas5384 commented on #4
hey!! thanks for this awesome template :+1:

I sow the "help wanted", so here's our first try of help #10.

I'm going to do some work on top of the "reflux" branch, because we are needing a template to start developing an isomorphic app which use React, React-router with server rendering, Reflux, Webpack, Express, and other tools like Gulp.
At the end it will use Drupal 8 (or 7) as REST API with H

[2015-01-28 08:41] gpbl commented on #4
Hi @sebas5384 thank you for the pull request. I will look into it these days!

I didn't update the project during the last weeks because I decided to try [fluxible](https://github.com/yahoo/fluxible), using its flux, router, services, and stores implementation. I'd prefer to adopt an existing isomorphic implementation than writing one on my own. I had to get rid of reflux and react-router 😢, but I

[2015-01-28 13:53] Janaka-Steph commented on #4
@gpbl  I wait your Fluxible example impatiently :-)

[2015-01-28 17:07] sebas5384 commented on #4
@gpbl thanks for the explanation.

I give it a try yesterday at the fluxible branch and for the first time I could understand the app with no major code learning.
But! I really don't like the react router component from Yahoo, using directly action to transition from one route to another, and it seems that the React Router project is being adopted very well by the community.
Other thing is that fo

[2015-02-03 00:01] goatslacker commented on #4
@gpbl would you welcome a PR that adds in isomorphic flux? I've got an implementation that'll probably do what you want: [alt](https://github.com/goatslacker/alt)

[2015-02-04 00:55] gpbl commented on #4
@goatslacker oh *alt* looks promising. Thanks a lot for sharing. TBH the isomorphic flux branch is a bit outdated so I'd not waste time on it.

At this point, I'm not sure about the next step for this project. I think to a new fluxible version, because I've got some solid experience with it (at this point a choice has to be made :-). The other parts of this project (webpack, build, ES6 etc.) needs

[2015-02-04 01:08] goatslacker commented on #4
Yeah I see that fluxible is 100 commits ahead of reflux. I can track the fluxible branch.

[2015-02-04 02:16] mridgway commented on #4
If you need any help with the Fluxible implementation, let me know. I'm usually available on the [Fluxible gitter](https://gitter.im/yahoo/fluxible) for live help.

[2015-02-09 22:24] hbi99 opened #12 "Pretty print HTML in dev env"
Is there a way to turn on pretty printing in development mode?

Thanks

[2015-02-13 00:18] niix opened #13 "Prevent router from killing other server routes"
Hello, I'm trying to integrate this template into an existing project where I have several other server routes that I want to stay in tact.  For example: `/api/users/`, etc..  When using this template all of my _other_ server routes that aren't pointed at the serverRender react module, no longer work.

Any ideas..?

[2015-02-13 00:33] #13 closed

[2015-02-15 17:33] steida commented on #3
You don't need lodash :-p
[code]

[2015-02-25 00:59] michaellouieloria opened #14 "Uncaught ReferenceError: webpackJsonp"
I'm getting an error when using production as environment mode in windows 8

I've followed the instructions
gulp build
set NODE_ENV=production
node build/app.js

"Uncaught ReferenceError: webpackJsonp is not defined" is displayed in the console

[2015-02-25 17:01] iam4x opened #15 "Async API request before SSR"
Hi @gpbl

I'm working on a similar project of yours, I just added the async api fetch before the first server side rendering using [react-resolver](https://github.com/ericclemmons/react-resolver/)

You can find my work here: https://github.com/iam4x/es6-react-boilerplate

Maybe we should merge our efforts :) ?

[2015-02-26 13:44] iam4x commented on #15
@gpbl Just updated my boilerplate, I'm now using `Alt` and `Iso` for populating the stores on server-side.

https://github.com/iam4x/isomorphic-flux-boilerplate

[2015-02-26 13:44] #15 closed

[2015-03-06 01:05] dcomcto commented on #4
Have you looked at https://github.com/acdlite/flummox? It has an interesting approach to support isomorphism.

[2015-03-24 05:01] mayuri24 commented on #4
# @cjsx React.DOM

'use strict'

_              = require('lodash')
React          = require('react')
JobStore       = require('../stores/JobStore')
Router = require('react-router')

findJob = (id)->
  console.log 'hi'
  i=0
  jobs=JobStore.getAll()
  while i < jobs.length
      if jobs[i].id is id
        return jobs[i]
      i++

Job= React.createClass
  mixins: [ Router.State ]
  render: ->

[2015-03-24 05:05] mayuri24 opened #17 "Isomorphic flux."
# @cjsx React.DOM

'use strict'

_              = require('lodash')
React          = require('react')
JobStore       = require('../stores/JobStore')
Router = require('react-router')

findJob = (id)->
  console.log 'hi'
  i=0
  jobs=JobStore.getAll()
  while i < jobs.length
      if jobs[i].id is id
        return jobs[i]
      i++

Job= React.createClass
  mixins: [ Router.State ]
  render: ->

[2015-03-24 20:51] gpbl opened #19 "Next steps for this project"
During the last months I've learnt lot of things I'd like to apply to this project, which is starting to get outdated. Instead of a "template", it could became a work-in-progress, full-stack example for people approaching an isomorphic app with React and Flux.

The critical parts I would explore are the architecture design and the development environment:

**Architecture**

- isomorphic flux archi

[2015-03-24 21:05] gpbl commented on #4
So... things need to move on: during the last months I could work with fluxible a lot and I'm ready to update this project. I've written my plans in a [separate issue](https://github.com/gpbl/isomorphic-react-template/issues/19).

Frankly, I don't believe the choice of the flux library matters so much. I adopted fluxible because I liked its approach and its plugins. Also, I sympathize with yahoo's

[2015-03-24 21:05] #4 closed

[2015-03-24 21:34] gpbl commented on #12
@hbi99, do you mean... pretty print of what?

[2015-03-26 08:52] gpbl opened #20 "Errors on server while developing"
It has been suggested [here](https://twitter.com/akkhil7/status/580714520571695104). Using webpack server-side we should be able to prevent the crash of the server: webpack should just report the error and call the developer's attention with a BELL character, printing the error stack in stdout.
Also, it should work nice with react-hot-reload on the server!

[2015-03-27 12:05] vesparny commented on #19
@gpbl I'm trying to do something similar, just set the project up.
https://github.com/vesparny/react-jwt-example/

[2015-03-28 22:17] corydolphin commented on #19
The main thing I believe this project lacks is actually sending shared state between the client and the server.

Practically, many applications wish to fetch data via some internal or external API. The hard part of isomorphism in my experience is figuring out how to share the 'right' state between the server and client, and piping that over the wire.

[2015-03-29 17:13] gpbl commented on #19
@corydolphin you are right – that's covered very well by fluxible.

[2015-04-02 14:06] romanenko opened #21 "SASS recompilation doesn't work"
I'm starting with a clean project.

    $ git clone https://github.com/gpbl/isomorphic-react-template.git
    Cloning into 'isomorphic-react-template'...
    ....
    Resolving deltas: 100% (767/767), done.
    Checking connectivity... done.
    $ cd isomorphic-react-template
    $ npm install

Then I do `npm start` and the development server starts. Then, I modify `style/main.scss` and server log

[2015-04-03 13:42] Snegostoop commented on #3
Hi @gpbl,
I'm struggling with a similar situation as you described in https://github.com/rackt/react-router/issues/458#issuecomment-64838487
I have a condition in ParentComponent#render() which renders NotFound component if resource hasn't been found.

In this case I can't spot it this way
[code]
because in state.routes I still have the route of ParentComponent and not 'not-found'.
Please suggest

[2015-04-03 22:52] gpbl commented on #5
Done in isomorphic500!

[2015-04-03 22:52] #5 closed

[2015-04-03 22:56] gpbl commented on #3
I'm closing this because it becomes obsolete with the recent 'isomorphic500' release, based on flux. At the end I switched to the fluxible's router: it made easier to manage the error pages  – mainly because it keeps all inside a "flux" flow.

@Snegostoop did you find a solution with the suggestions you got in the react-router comments?

[2015-04-03 22:56] #3 closed

[2015-04-03 22:58] gpbl commented on #7
I've found a solution for this, I just need to implement it :-)

[2015-04-03 23:01] gpbl commented on #19
I've changed the name of the project to "isomorphic500" – it fits better! I've already implemented quite all the goals I set, beside the tests where i need to experiment a bit more...

[2015-04-03 23:01] #19 closed

[2015-04-03 23:02] gpbl commented on #20
For the errors, I've solved with a node.js domain. This should close the issue.

[2015-04-03 23:02] #20 closed

[2015-04-03 23:58] jedireza opened #24 "Live demo on Heroku"
:+1: great stuff!

I'd love to browse a live demo without installing the app.

[2015-04-04 09:15] Snegostoop commented on #3
No, but I elaborated the question as much as I could so I hope we'll at least find out if it's even possible.
I'm also developing my app using flux, but I use another isomorphic-friendly library - flummox. Thanks for your suggestion of fluxible, I'll consider moving to it if this issue with react-router will not resolve.

[2015-04-04 09:26] gpbl commented on #3
@Snegostoop I understand better now – you are in the case where a NotFound route may come from a 404 API response (e.g. /user/:id when `id` is a not existing user). In a flux application having a RouteStore, the idea (proposed by the fluxible team) is to execute an action that tell the store to display a 404 page. Honestly I don't know how this could work in a `Router.run` callback.

[2015-04-04 13:13] gpbl commented on #24
Thanks! Nice idea, I've put it on https://isomorphic500.herokuapp.com

[2015-04-04 13:13] #24 closed

[2015-04-04 20:54] gpbl opened #25 "Split PhotoStore in FeaturedPhotoStore"
The PhotoStore is both a "list store" and a "content store" (as defined [here](https://github.com/gaearon/flux-react-router-example#how-i-classify-stores)). Featured photo's `id`s  should be stored in a FeaturedStore instead.

The FeaturedPage needs to receive `props.photos` filtered by the content of `FeaturedStore`, however this is not possibile with the current `connectToStores` implementation

[2015-04-06 00:09] #2 closed

[2015-04-06 15:57] winkler1 opened #27 "Internal Server error"
http://isomorphic500.herokuapp.com/

![image](https://cloud.githubusercontent.com/assets/883896/7007036/11e2f176-dc54-11e4-8caf-576faccf5f95.png)

[2015-04-07 06:25] gpbl commented on #27
😞 thanks @winkler1

[2015-04-07 06:26] #27 closed

[2015-04-07 22:16] iam4x commented on #19
:clap: Impressed!

[2015-04-08 06:37] kchung opened #28 "Hitting a 404 page crashes the application"
I tested out `https://isomorphic500.herokuapp.com/featured/editorss` (extra "s") and it seemed to knock the Heroku app off line:

[code]

Development crash callstack:
[code]

[2015-04-08 13:29] #28 closed

[2015-04-08 13:57] gpbl commented on #28
Thanks @kchung ... I should start to work on tests asap :)

[2015-04-16 21:57] gpbl commented on #21
I'm closing this because is not relevant anymore with the last version. @romanenko did you solve your problem, btw?

[2015-04-16 21:57] #21 closed

[2015-04-16 21:57] #12 closed

[2015-04-16 21:58] #17 closed

[2015-04-16 22:02] gpbl commented on #14
I'm closing this because is not anymore relevant with the new version. @michaellouieloria would you give a try with the updated app?

[2015-04-16 22:02] #14 closed

[2015-04-17 08:20] gpbl opened #29 "vertx module not found upgrading fluxible"
Follow this issue https://github.com/jakearchibald/es6-promise/issues/100

[2015-04-17 08:23] gpbl opened #30 "Upgrade to fluxible 0.4.3"

[2015-04-17 10:53] #7 closed

[2015-04-17 10:53] #30 closed

[2015-04-19 16:25] gpbl opened #31 "Add eslint-loader to webpack's dev config"
https://github.com/MoOx/eslint-loader

[2015-04-21 10:56] al3x opened #32 "Development server crashes on start due to SCSS parsing error"
After cloning this repo and running `npm install`, I get the following error when trying to start up the development server:

[code]

[2015-04-21 19:37] al3x commented on #32
FYI, that previous run was with iojs v1.7.1. Same issue happens with the latest version of Node:

[code]

[2015-04-22 16:31] iam4x commented on #32
Hey @al3x

I think it's the same issue we had there: https://github.com/iam4x/isomorphic-flux-boilerplate/issues/16

You maybe have a `BROWSER` env variable in your system, the workaround is to:

[code]

on the first line of the server file (https://github.com/gpbl/isomorphic500/blob/master/webpack/server.js)

[2015-04-22 17:38] gpbl commented on #32
Hi @al3x, thanks for the PR and thanks @iam4x for the help!
Indeed I could reproduce the issue running `BROWSER=open npm run dev`
Is that env variable set when installing iojs? I've never seen it before.

[2015-04-22 17:38] #32 closed

[2015-04-22 19:01] al3x commented on #32
@gpbl Nope, it's set by some shell enhancement libraries like oh-my-zsh and zprezto. Some command line tools on Mac OS X will look for the `$BROWSER` environment variable, and setting to `open` makes use of the default browser on the system. Thanks for merging!

[2015-04-22 21:29] #25 closed

[2015-04-25 19:22] gpbl opened #34 "Switch to fluxible-router"
https://github.com/yahoo/fluxible-router

[2015-04-25 19:33] #29 closed

[2015-04-26 06:51] gpbl opened #35 "Provide an exam"

[2015-05-01 09:16] gpbl opened #36 "Use cacheDirectory for babel-loader in dev config"
suggested by @geekyme

[2015-05-01 09:55] gpbl opened #37 "Move google analytics code to RouteActions"
It doesn't fit well in the Application.js, also the title would not match since the page it's updated using an action which is async.

[2015-05-05 17:33] herve1976 opened #38 "Warning in browser console."
Warning: React attempted to reuse markup in a container but the checksum was invalid. This generally means that you are using server rendering and the markup generated on the server was not what the client was expecting. React injected new markup to compensate which works but you have lost many of the benefits of server rendering. Instead, figure out why the markup being generated is different on

[2015-05-05 19:31] gpbl commented on #38
@herve1976 Could you search for `isasdadhic` in your code base or try to restart the node server? The page generated by node has a string different from that mounted on the browser.

[2015-05-06 15:57] herve1976 commented on #38
Issue Fixed. Grazie Mille.

[2015-05-06 15:57] #38 closed

[2015-05-06 15:59] herve1976 opened #39 "isomorphic500 Intl is not supported, so the polyfill has been loaded"
When I run:
$ npm run dev

  isomorphic500 Intl is not supported, so the polyfill has been loaded. +0ms
Express development server listening on 3000
  isomorphic500 Webpack development server listening on localhost:3001 +2s
Hash: 28498d7b5b156072b02c
Version: webpack 1.8.11
Time: 7796ms

Why does it say that isomorphic500 Intl is not supported?

Cordially,

Hervé

[2015-05-06 17:16] gpbl commented on #39
We load a polyfill to support `Intl` on node: https://github.com/gpbl/isomorphic500#the-difficult-parts

[2015-05-07 14:12] shelakel opened #40 "ELIFECYCLE error on npm run dev/prod"
I came across this issue running (Git) bash and command prompt on Windows 8.1:

    0 info it worked if it ends with ok
    1 verbose cli [ 'c:\\Program Files\\nodejs\\node.exe',
    1 verbose cli   'c:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
    1 verbose cli   'run',
    1 verbose cli   'dev' ]
    2 info using npm@2.7.4
    3 info using node@v0.12.2
    4 verbose run-script

[2015-05-07 15:43] gpbl commented on #40
Hi @shelakel, thanks! Fluxible-router is coming soon :-)

I believe your error is because you can't set on environment variable on windows this way:

[code]
I have no idea how it would work on windows. Maybe this could work:
[code]

Please try and comment with the results :+1:

[2015-05-08 07:42] shelakel commented on #40
Good stuff.

It seems that using Command Prompt (cmd.exe) fails to start the webpack development server.

Run: cmd.exe /C "set NODE_ENV=development && set DEBUG=isomorphic500 && node index"

Only bash works on Windows. I think opting for the [webpack/react-starter](https://github.com/webpack/react-starter) scripts approach is more feasible in the long run.

[2015-05-08 16:53] #40 closed

[2015-05-09 01:52] herve1976 opened #41 "Load More Photos"
If we wanted to add a button at the bottom of the page called "Load More" and when the user clicks on it,  the page loads more photos beneath the actual ones.  I am new to React and Fluxible.
Anybody has any idea on how to implement this new feature?

[2015-05-10 12:17] knapeto opened #42 "npm install errors"
Hi,

I have problem with install dependencies. Can you help me ?
[code]

[2015-05-11 22:05] herve1976 commented on #41
I tried using the module "react-infinite-scroll" but with no success. I am not even sure it's possible with an isomorphic app actually.

[2015-05-20 18:50] gpbl commented on #42
Hi @knapeto did you clone the repository or just downloaded it?

[2015-05-20 18:51] knapeto commented on #42
Just downloaded

[2015-05-20 18:52] gpbl commented on #42
Could you try by cloning the repo?

[code]

i have no idea why the download would give this error. let me try...

[2015-05-20 19:02] gpbl commented on #42
uhm can't confirm, by downloading the source i can't reproduce your problem. Which version of node and npm are you using? please also try to cleanup the node_modules directory: `rm -rf node_modules/`

[2015-05-20 21:34] gpbl commented on #41
Hi @herve1976 thanks for the succestion - indeed this is a nice use case I'd like to explore in the future.

[2015-05-20 21:38] gpbl opened #43 "Add tests"

[2015-05-20 21:46] #36 closed

[2015-05-20 21:46] #34 closed

[2015-05-20 21:46] #39 closed

[2015-05-21 06:52] gpbl opened #44 "Fast navigation from the navbar may display a wrong page"
When clicking multiple times on the navbar, fast enough to not wait the response from the 500px API, the router get confused and may render a wrong page.

[2015-05-22 17:42] haohcraft opened #45 "Switching from the server side rendering to the client side for debugging purpose"
Where there is some js error on the pages/xxxPage.js, the error will be throwing in the terminal which is my server side.

So I am wondering if it is possible to switch the project from the server side to the client server on dev. And How?
Thanks.

[2015-05-22 18:19] gpbl commented on #45
Hi @haohcraft, maybe you are looking for something like [node-inspector](https://github.com/node-inspector/node-inspector)?

[2015-05-23 17:16] Wolfeitz opened #47 "Problems on Windows"
First attempt at running on Windows resulted in:
--------------------------------------
D:\Projects\isomorphic500>npm run dev

'NODE_ENV' is not recognized as an internal or external command,
operable program or batch file.
--------------------------------------

I edited the package.json file to comment out the dev string
-> "dev": "", //NODE_ENV=development DEBUG=isomorphic500 node index

Then r

[2015-05-23 17:24] gpbl commented on #47
Hi @Wolfeitz, yours seems the same problem described here: https://github.com/gpbl/isomorphic500/issues/40

Please see if it helps, thanks!

[2015-05-24 00:33] davidgilbertson commented on #40
@shelakel seconded. I think setting environment vars in the JS is more OS agnostic.
`NODE_ENV=development DEBUG=isomorphic500 node index` directly in bash did the trick for me, thanks! And thanks @gpbl for the awesome reference!

[2015-05-24 01:04] davidgilbertson commented on #40
If you're interested, the following works for me (Windows 8.1). In `package.json`:

`"dev": "node index --dev --DEBUG=isomorphic500"`

Then in index.js I catch/store any flags:

[code]

[2015-05-24 22:23] psachs21 opened #48 "Changes to Intl message aren't picked up by hot-loader"
Any changes I make to en.js / it.js or any other localization file aren't picked up until I restart. Anyone know anyway to make the localization hot-loadable?

[2015-05-25 10:46] gpbl commented on #48
Hi @psachs21 yup that's true! Nice catch.

I remember I was playing with the idea and I got it working, but it didn't make it into this project. It should be possibile by signing each file (`en.js`) with `module.hot`. Need to investigate and re-read [the docs](https://github.com/webpack/docs/wiki/hot-module-replacement) a bit ...

[2015-05-25 11:01] gpbl commented on #40
Thanks @davidgilbertson for the suggestion. However i'd go for setting the env vars out of the npm script.

[2015-05-25 14:11] psachs21 commented on #48
Alright cool, I'll take a look at that and see what I can do. Potential pull request perhaps. Thanks.

[2015-05-26 19:19] rafayepes opened #49 "Use ES6 in webpack prod config"
It is confusing to see the dev config in ES6, like all the code and then the prod config in ES5.

Any particular reason for that?

[2015-05-26 19:39] gpbl commented on #49
Yes: I couldn't find a way to pass to the webpack bin (used by the `npm run build` script) a config written in ES6. On dev we don't use the bin so we require the config in a node.js script, after `babel/register` hook has been installed. Anyway it's a good point, going to ask on the webpack's gitter chat...

[2015-05-26 19:49] rafayepes commented on #49
What about doing something similar to here?

https://github.com/gpbl/isomorphic500/blob/31e91c650c4b99d91424ecbef6e13531ab50e9a1/src/config.js

and load babel/register in this config?

[2015-05-26 20:33] gpbl commented on #49
Yes I was thinking to that option, but perhaps keeping the config (and /webpack/utils) in ES5 would be a better compromise.

[2015-05-27 08:47] rafayepes commented on #49
Yeah. Maybe just less tricky and it will be more consistent that having one
config in ES6 and another in ES5.

On 26 May 2015 at 21:33, Giampaolo Bellavite <notifications@github.com>
wrote:

[2015-05-28 18:24] gpbl opened #50 "Bundled Intl is too big (+570KB)"
It seems that intl.complete.js is loaded instead of just intl.

[2015-05-28 18:39] #49 closed

[2015-05-28 18:39] #50 closed

[2015-05-28 19:29] robink opened #51 "Improper exception handling?"
I believe there is a problem in the current way exception are handled on the server rendering phase:

https://github.com/gpbl/isomorphic500/commit/072f4c597cc09989895519ca4db5a8a1913f6bbb#diff-0655f086119d60b6cf62f877f4128fa8R77

If the navigateAction fails somehow, you're still rendering the app in an inconsistant state.

Eg:

1. start rendering app
2. NAVIGATE_START is dispatched
3. Page is curr

[2015-05-28 20:48] gpbl commented on #51
Hi, thanks for reporting!
The case you are referring to should never happen. Could you reproduce it?

Server-side, there's no `NAVIGATE_START` to be handled since the app has not been rendered yet: as both the promises have been fulfilled (i.e. the `navigateAction` did finish as well), the route will be rendered always when `NAVIGATE_SUCCESS` has been dispatched:

[code]
When executing `navigateAc

[2015-05-28 21:08] robink commented on #51
Well... If `meta.loadingTitle` translation is missing, then you can reproduce it.
https://github.com/gpbl/isomorphic500/blob/master/src/stores/HtmlHeadStore.js#L70

I guess this one is the only one that should not be missing....

[2015-05-28 21:16] gpbl commented on #51
Oh yes I see it now. The case of the HtmlHeadStore is weird. Not sure how to deal with it. Let me think :)

[2015-05-28 21:22] gpbl commented on #51
So since the errors fired from route actions should always have a status code, we could write this:

[code]

[2015-05-28 21:27] robink commented on #51
It seems perfectly handled this way :) nice!

[2015-05-28 21:32] #51 closed

[2015-05-28 21:34] gpbl commented on #51
🎉

[2015-05-28 21:51] robink opened #52 "IntlUtils.loadLocaleData seems like it could be improved"
I'm not a very big fan of this part: https://github.com/gpbl/isomorphic500/blob/master/src/utils/IntlUtils.js#L64-L107

When I add a locale to one of my webapps, I love to simply have to create a new locale file, like [en.js](https://github.com/gpbl/isomorphic500/blob/master/src/intl/en.js), declare it as being available in my config file, like [dev.js](https://github.com/gpbl/isomorphic500/blob/m

[2015-05-28 21:55] robink opened #53 "Add nodemon to reload server when server files change?"
I'm currently using nodemon to restart the app when one of the server's file is changing, like `server.js` or any files under `src/server`. What about including it in this repo?

[2015-05-28 22:21] gpbl commented on #52
I agree with you @robink, I couldn't find a better solution.

The problem here is to download locale data only for the user's language before rendering the app.

With this script we can group and `require-ensure` them in small chunks. I'm not sure it is possible to automatize this thing. Also, some granularity is needed because often english is loaded by default (e.g. Intl, moment.js). And also th

[2015-05-28 22:32] gpbl commented on #53
If you have a good nodemon config to share I'd love to include it in the project. The last time I tried, it didn't play well with the webpack's hot reload. Please send a PR if you don't mind!

[2015-05-29 08:57] robink commented on #53
Will do !

[2015-05-29 14:09] geekyme commented on #41
It is possible to do this. You can create a wrapper component that takes in a list (preferably supplied by stores)

[2015-05-29 17:09] dmitry commented on #52
I'm also interested in this topic. Looks like only one way of doing that is to share translation data on the REST end-point and download it on the server/client side with fetchr.

[2015-05-29 20:32] gpbl commented on #52
@dmitry thanks for joining in :-) What do you mean for *translation data* ?

We need:

1) "messages" (as in the react-int jargon): translated strings used in the interface
2) "locale data": content used by external modules such as react-intl or moment.js or other libs

In my implementation, "messages" are already fetched server-side and dehydrated in the `IntlStore`. I consider this part solid and

[2015-06-04 23:51] psachs21 commented on #48
Hey @gpbl, I'm having trouble seeing where I can integrate hot loading into globalization. I've only really just started looking at nodejs in general and react even more recently. When you say "signing" each file, I thought maybe adding following was enough:

if(module.hot) {
	module.hot.accept();
}

But I suspect that I have to do something on the code that loads these files for it to be accepted

[2015-06-07 08:51] ssmlee04 opened #57 "authentication"
I have a backend nodejs/express server running and I want to do authentication.  Once POST to /login I will retrieve a response header which contains a token for my future API calls.  In the future whenever I click on other routes I just GET /loggein for updated user info.

This is OK if I don't refresh the browser and the information will be stored in the context.   But when the user refreshs the

[2015-06-07 09:04] gpbl commented on #57
Yup, if you need to keep the authentication when refreshing the page (or when the user comes back), you want to save the authentication token somewhere, usually in a cookie.

In your express app, after the login, save the cookie with the token. Your next `GET`s to `/login` should check `req.cookies` to verify the token against your authentication system.

[2015-06-07 10:37] ssmlee04 commented on #57
ok I see this info in req.cookies. I'll try to pass into into all future request I guess that's it thanks!
btw.... how do I extract email / password from the forms and pass them into actions?  I am currently using jquery but this seems weird..

[2015-06-07 10:42] gpbl commented on #57
@ssmlee04 if you don't mind, there's a gitter chat for this repo: https://gitter.im/gpbl/isomorphic500
This is a better place to talk with other developers and ask questions :)

[2015-06-07 10:58] ssmlee04 commented on #57
yes that's a great idea.  I'll go over there an take a look.  Thanks a lot for your info and help!

[2015-06-07 10:58] #57 closed

[2015-06-11 07:32] codeuniquely opened #58 "Windows 8 Install won't run (development)"
I installed node v0.12.(0.12.4)
I cloned your project
npm install (run as administrator)

install produced some errors (actually lots of them) - but here is an example

    F:\Projects\isomorphic500-master\node_modules\webpack-dev-server\node_modules\socket.io-lient\node_modules\engine.io-client\node_modules\ws>if not defined npm_config_node_gyp (node "C:\Program Files\nodejs\node_modules\npm\bin\

[2015-06-11 18:08] opportunato opened #59 "Can't require images with webpack on the backend"
I've been using your template (which is great, btw) for my own project, and have run into some issues with the images. So, I am trying to include image from the meta, and I want it to be served by webpack. To make this happen, I am doing something like this in HtmlHeadStore:

[code]

Unfortunately, I am getting this error:
[code]

Here is my dev webpack loaders config:

[code]

I've found similar

[2015-06-11 18:55] gpbl commented on #59
@opportunato babel is not the problem here – you are trying to require an image directly from node, which doesn't work because you must require a js modules (indeed node is trying to read the JPG as  javascript).

In this case, just use the relative url:

[code]

To make express to serve the content in `assets`, you need to configure it in `server.js`:

[code]

Note that i've set a `max-age` heade

[2015-06-12 11:50] opportunato commented on #59
After including this code in server.js, I've started getting this error:

[code]

Also, shouldn't every asset you require go through the webpack pipeline? Isn't it the main idea behind every build system?

[2015-06-12 12:30] gpbl commented on #59
Yeah sorry there was a misplaced parenthesis in the middleware, I've updated my comment :) anyway check the express documentation for serving static files.

As for the build thing, there's no need to build the server-side code: webpack here is used only to build the files that run on the client. In your case, your `require` won't be parsed by webpack.

[2015-06-12 16:40] opportunato commented on #59
Thank you very much, everything is clear now!

[2015-06-12 16:40] #59 closed

[2015-06-15 11:45] opportunato opened #60 "Is it possible to set up an absolute path for import in css and js?"
Hey, another question.

The solution when you have to set paths relative to the position of the file you are importing to, looks rather inconvenient, because when you move one file, you have to update not only the import paths of modules that use it, but also the paths of modules it imports itself. It bring an unnecessary level of complexion.

Is it possible to somehow change it, so it looks for t

[2015-06-15 12:00] gpbl commented on #60
Nope you can just use relative paths. Try to keep only one nest level in your directories: this should prevent the most of the hassle during refactoring....

[2015-06-15 12:04] Todilo commented on #58
see @davidgilbertson at https://github.com/gpbl/isomorphic500/issues/40
I did write
SET NODE_ENV=development
first then changed the package.json and the run with:
npm run dev

and it worked.

[2015-06-15 12:10] codeuniquely commented on #58
OK - then closed...

[2015-06-15 12:10] #58 closed

[2015-06-15 12:29] opportunato commented on #60
@gpbl For a project with a lot of components using a flat directory structure is really not the best solution. Are you sure that webpack doesn't support it the other way?

[2015-06-15 12:35] gpbl commented on #60
In my experience nested directories for components don't help at all... try to split your components using the atomic design principles: you will end with three/four directories and much less pain :)

[2015-06-15 12:37] opportunato commented on #60
So, you are talking about splitting components folder into several ones? Don't you think that having several directories in the component one looks more logical?

I wan't thinking about three and more levels of nesting, btw. %)

[2015-06-15 12:43] gpbl commented on #60
It looks more logical but in practice I've found they are harder to organize. You will find yourself refactoring quite often.

[Atomic design principles](http://bradfrost.com/blog/post/atomic-web-design/) IMHO fit great in a react application. You can split your components into `atoms`, `molecules`, `organisms` and `pages` directory and you won't need thiking too much about naming and nesting.

[2015-06-17 15:27] opportunato commented on #60
Ok, thanks!

I'll try it this way.

[2015-06-17 15:27] #60 closed

[2015-07-01 02:00] cmrcmr opened #61 "Error Cannot use [chunkhash] on "npm run dev""
I ran the following commands
git clone https://github.com/gpbl/isomorphic500.git
cd isomorphic500
npm install

But I get this error when I run
npm run dev

[name]-[chunkhash].js
Cannot use [chunkhash] for chunk in '[name]-[chunkhash].js' (use [hash] instead)
Error: Cannot use [chunkhash] for chunk in '[name]-[chunkhash].js' (use [hash] instead)

[2015-07-01 07:11] gpbl commented on #61
Oh thanks for this! It seems [an issue](https://github.com/webpack/webpack/issues/358) introduced with a recent webpack version. Update coming soon...

[2015-07-01 07:51] #61 closed

[2015-07-03 14:23] gpbl commented on #53
Thanks! This has been fixed with #56

[2015-07-03 14:23] #53 closed

[2015-07-03 14:24] #47 closed

[2015-07-03 14:24] #45 closed

[2015-07-06 19:39] snegostup opened #62 "Google Analytics route change handling mistake"
Hi,
You should also send path with GA 'pageview' request as stated here https://developers.google.com/analytics/devguides/collection/analyticsjs/single-page-applications otherwise all subsequent hits are counted for the entry page.

So this https://github.com/gpbl/isomorphic500/blob/c68b41b3dbb791b139816819bc500a43f8819efb/src/utils/trackPageView.js#L4-L10 should become
[code]

And this https://gi

[2015-07-06 20:07] gpbl commented on #62
Oh yes! Thanks a lot for spotting this. Care to make a PR or should I work on it?

[2015-07-09 22:27] jhwang09 opened #64 "Service set up with onSave reload"
Hi,

I really like how you set up your app and I am very much following how you set up the app.

I do have one question though:

When you are doing development and when you save files (server side code), does the app restart for you? It works great for all the client side work, but it doesn't reload node server when I save files for server side code.

Could you point me to how I achieve that?

Sor

[2015-07-10 06:51] gpbl commented on #64
Hi @jhwang09 thanks ! Actually, the server restarts when you save server-only data with `nodemon` (not the best solution, yet). In which case you don't see the changes being applied?

[2015-07-10 06:52] gpbl commented on #62
Fixed with #63

[2015-07-10 06:52] #62 closed

[2015-07-10 06:52] #42 closed

[2015-07-15 06:42] gpbl commented on #52
We could make a webpack plugin loading a set of locales. The plugin should receive an array of the scripts to be included for each language. It could work with react-intl, intl, moment or any other library locale data sets

[2015-07-23 10:23] maiopirata opened #67 "Troubles using <FormattedMessage... >"
I'm having some troubles using <FormattedMessage... >

It works most of the times, but sometimes when I'm trying to use it to print a string inside an html tag it returns [Object object].
For exemple if I try to print the location of an image as:
`<img src=<FormattedMessage message="img.location"> />`

I know that the img.location doesn't need to be internationalized but eventually a tooltip does!

[2015-07-23 13:49] gpbl commented on #67
Hi @maiopirata you can't use the components to produce a string, they are meant to output react HTML elements (hence, objects). To produce a string, you can use the `formatMessage` included in the `ReactIntlMixin` (see [this issue](https://github.com/yahoo/react-intl/issues/87), which applies to `input` placeholders).

If you are not using the mixins, or you are in some code that is out the react

[2015-07-26 16:45] reymus opened #70 ""Page not found" hardcoded in NotFoundPage"
The message "Page not found" is hardcoded in the NotFoundPage. Problem is easily reproducible by switching to French and clicking the "an unexisting photo" link in the footer.

[2015-07-26 16:50] reymus commented on #70
Pull request: https://github.com/gpbl/isomorphic500/pull/71

[2015-07-27 07:38] maiopirata commented on #67
Hi @gpbl, thanks for your reply...

I'll try to fix it today or tomorrow as in your suggestion!

[2015-07-27 09:57] gpbl commented on #67
👍 let us know how it goes...

[2015-07-27 17:06] Wykks commented on #70
Well, to be consistent, the message in ErrorPage should be translated too.

[2015-07-27 18:42] gpbl commented on #70
Thanks... there are other texts missing, yes: I actually meant to provide an example for i18n, not to translate all the things :-) otherwise the project get too complex to maintain.

[2015-07-27 21:44] juancabrera opened #73 "TypeError: Cannot read property 'map' of undefined"
When I run `npm run dev` it works fine, but when I hit the URL on browser I'm getting this error (got same error on `npm run built`):

[code]

The error is coming from [here](https://github.com/gpbl/isomorphic500/blob/master/src/server/HtmlDocument.js#L59), on HtmlDocument.js:59:19
[code]

I'm running node `v0.12.4`

[2015-07-27 21:51] gpbl commented on #73
Yes you are right, thanks for reporting this! Let me check what went wrong ... :-)

[2015-07-27 22:17] gpbl commented on #73
It is because [this issue](https://github.com/babel/babel/issues/2086) with babel. I just pushed an update using a previous version of babel: please pull, clean up `node_modules` and run `npm install` to get it running again :-)

[code]

As the issue with babel get fixed, we can move again to the latest version.

[2015-07-28 13:52] juancabrera commented on #73
thank you so much @gpbl, works perfect now :smile:

[2015-07-28 13:56] gpbl commented on #73
It [should be fixed](https://twitter.com/sebmck/status/626009657270734848) with the last babel, however :-)

[2015-07-28 14:05] juancabrera commented on #73
yes! tested it and all working fine.

created #74.

[2015-07-28 14:07] #73 closed

[2015-07-29 13:05] Wykks commented on #70
Yeah that's why I didn't done it first.This is just about *consistency* because having the NotFoundPage translated but not the ErrorPage isn't logical.

[2015-08-06 11:19] roskom opened #75 "Can't run "17 error isomorphic500@2.0.0 dev: `NODE_ENV=development DEBUG=isomorphic500 nodemon index.js`""
node -v = v0.12.7
I've used this guide:
git clone https://github.com/gpbl/isomorphic500.git
cd isomorphic500
npm install

[code]

[2015-08-07 08:03] gpbl commented on #75
Hi @roskom it seems like the same issue described [here](https://github.com/gpbl/isomorphic500/issues/58) ... I should definitely add a note for Windows users :-)

[2015-08-15 18:02] halt-hammerzeit opened #76 "webpack/write-stats.js"
FYI
https://github.com/halt-hammerzeit/webpack-isomorphic-tools

(closing since you've got the notification)

[2015-08-15 18:02] #76 closed

[2015-08-15 18:23] gpbl commented on #76
Thanks @halt-hammerzeit ! I'm not sure I understand what is your module doing... Have you considered to compile server-side JavaScript with webpack?

[2015-08-15 18:27] halt-hammerzeit commented on #76
@gpbl oh, sorry, I thought your project used image requiring. Seems it doesn't. Cheers

[2015-08-15 18:29] gpbl commented on #76
well i'm actually considering to improve that part: new ideas are always welcome 👍

[2015-08-27 02:47] sathify opened #80 "Routing help to new page on click"
I'm trying to show a list of users in a search page similar to photos and then onClick trying to route them to individual user page. But the props is an `{}` and `props.id` does not exist in the below code.
[code]
Would love to know how in [PhotosPage](https://github.com/gpbl/isomorphic500/blob/master/src/pages/PhotoPage.js#L7) the props is getting passed in.

I'm doing the same things as this app

[2015-08-27 05:42] gpbl commented on #80
Hi @sathify, `connectToStore` knows the props you are passing to its wrapped component, and make them available in the `(context, props) => {}` function so you can use them.

In the case of a Page component, as `EmployeePage` or `PhotosPage`, you are not actually rendering this component directly. Instead, it is available as the `currentRoute` prop [in Application.js](https://github.com/gpbl/isomo

[2015-08-27 05:55] #75 closed

[2015-08-27 06:09] gpbl commented on #31
Won't do this, linting should stay out from the webpack build

[2015-08-27 06:09] #31 closed

[2015-08-27 06:09] #64 closed

[2015-08-27 06:10] #67 closed

[2015-08-27 09:37] sathify commented on #80
@gpbl Thanks much for your valuable pointers and clear explanation. Makes total sense, I did not configure the route to parse routing params and send in to ```<Handler {...params}>```. Much appreciated.

[2015-08-27 09:37] #80 closed

[2015-08-28 21:02] gaearon opened #81 "You may remove NoErrorsPlugin with React Hot Loader 1.3.0"
React Hot Loader 1.3.0 fixes a [problem that caused `NoErrorsPlugin` to be necessary](https://github.com/gaearon/react-hot-loader/pull/187#issuecomment-135884631). In fact now errors thrown on module level shouldn't prevent future hot reloading of the same file after you fix the problem.

Please update to RHL 1.3.0, and remove `NoErrorsPlugin` from Webpack configuration.
Thanks!

[2015-08-28 21:22] #81 closed

[2015-08-28 21:22] gpbl commented on #81
done! thanks for letting us know 🙏

[2015-08-31 23:05] sathify commented on #80
@gpbl I have a DataService issue when I try to use the create method from the service. I also tried using a postman client to verify and I get the same error so not sure what is going on. The read method works fine. My service looks similar to [this](https://github.com/porchdotcom/isomorphic-porch-demo/blob/master/server/services/project-service.js). Very much appreciate any valuable pointers on t

[2015-09-01 07:56] hank7444 opened #83 "What is benefit for using fluxible?"
Hi gpbi:

I found there has many of flux framework,

The most popular I found are reflux & alt, the flexible seems

not to have many discussions,

I am not really understand the cons/pros between each other,

but I would like to know why you chose the fluxible, thx a lot!

[2015-09-01 08:06] gpbl commented on #83
I used fluxible because was the best for building an universal (isomorphic) app. Now I'm looking into redux as well, and I think that if you are learning something new, you could try it. Anyway we are writing the same app in redux as well, stay tuned :-)

[2015-09-01 08:16] hank7444 commented on #83
cool! I really want to compare this app by using fluxible & redux,
I have the project that I would like to use react for implementation, your example app is very useful, the website important features is almost having it, such as routing, dev/prod env, i18n...etc

maybe you could add more feature, like post,  static files on CDN..etc :)

[2015-09-11 02:42] geekyme commented on #83
@hank7444 I use fluxible in a large scale web application and so far I have not had many problems with it. Fluxible is quite well designed and have many companion packages to solve common issues with web applications like routing / data fetching, etc.

[2015-09-17 17:59] opportunato opened #84 "importing imagesLoaded and other modules that required browser environment"
Hey!

I've been building on top of your app my own app for quite a while — and now I want to add imagesLoaded to it. The problem is that the code is executed two times, the first time on server — where there is no browser environment and window is obviously undefined — so imagesloaded throws an error during import like this "ReferenceError: window is not defined".

How can we an approach it in the

[2015-09-26 05:32] geekyme commented on #84
@opportunato just wrap your imagesLoaded code in a :

[code]

[2015-09-28 14:16] opportunato commented on #84
Cool, thanks!

[2015-09-28 14:16] #84 closed

[2015-09-28 15:26] mmahalwy commented on #32
Anyone still having this problem?!

[2015-09-28 16:03] gpbl commented on #32
@mmahalwy make sure you use node 4 and updated dependencies. Earlier versions of node-sass were highly unstable :/

[2015-10-01 18:40] mmahalwy commented on #32
@gpbl interesting.... I didnt know node 4 is out! I am still on 0.12.7....

[2015-10-06 08:38] mmahalwy commented on #32
@gpbl tried it an no luck

[code]

[2015-10-06 08:43] gpbl commented on #32
@mmahalwy could you please post your `Application.js` and the webpack config you are using? It seems you are importing the .scss file from node.

[2015-10-06 08:46] mmahalwy commented on #32
@gpbl I am trying to do that, yes. I have an isomorphic app with Application.js being loaded both on server and client - thoughts about how to handle it only on the client?

[2015-10-06 09:03] gpbl commented on #32
@mmahalwy you can't require scss files from node.js, they are intended to work only on build time. Hence, you must write:

[code]

and make sure you have that env variable set in your webpack config via the define plugin ([example](https://github.com/gpbl/isomorphic500/blob/master/webpack/dev.config.js#L38-L43)).

[2015-10-06 09:08] mmahalwy commented on #83
using fluxible too - love it except one thing - you have to keep up with the dependency and upgrade often. many times they have breaking changes because they moved things to a different repo.

[2015-10-06 20:07] mmahalwy commented on #32
@gpbl yep, I adopted that now!

My only challenge is I'd love to use css-loader's local scopes https://github.com/webpack/css-loader#local-scope and I cannot do that nicely with `process.env.BROWSER`  :(

[2015-10-06 22:37] gpbl commented on #32
I don't know a solution for this case in an isomorphic env, @mmahalwy. I'd try build the server-side code with webpack as well: however, I don't think its worth the hassle 😴

[2015-10-07 18:18] mmahalwy commented on #32
@gpbl https://www.npmjs.com/package/webpack-isomorphic-tools is the answer but it can be challenging to setup to begin with

[2015-10-14 07:25] hank7444 opened #85 "intl server rendering and the markup generated on the server was not what the client was expecting"
[code]

[2015-10-22 14:32] maiopirata opened #87 "SEO multi Language perspective"
From a SEO perspective the ideal solution for multi language/multi region url should be using sub-folders.

I'm starting to think about it but I kind of lost! I would like that the route:
http://isomorphic500.herokuapp.com/featured/fresh_yesterday
will be linked to
http://isomorphic500.herokuapp.com/it/featured/ieri for example

From the Html Document point of view it easy to change the title and

[2015-10-22 14:43] maiopirata commented on #87
I try to be more clear on what I would like to achieve:

the route: "/folderEN/pageEN
should be replicated in different languages like
IT: "it/folderIT/pageIT"

but that's not all..
1) The meta data for the page should be created in many languages. This is fine since the RouteStore can give the route handler name, and so one can pick the international message.
2) The pages in other languages have

[2015-10-22 15:35] maiopirata commented on #87
Ok,
as explained here: https://github.com/yahoo/fluxible-router/issues/50

in fluxible-router one should simply put:

    {
        page: {
            method: 'GET',
            path: '/:lang([a-z]{2})?/page1',
            handler: require('../components/Page.jsx'),
            action: require('../actions/loadPage')
        }
    }

and then the loadPage action should set the default lang for the

[2015-10-22 21:59] gpbl commented on #87
Ehy @maiopirata, for a better path matching use something like this:

[code]

If you want to localize the url, it really depends from what you want to do. For example, this path:

[code]

will match any "feature" string coming after `/featured/`. If you want to catch `/it/featured/ieri`, then your params will be `{ lang: "it", feature: "ieri" }`. In the page action, do something for matching "ieri

[2015-10-23 15:44] maiopirata commented on #87
thank @gpbl!

I think it is ok. I will use a wrapper component that use the page action to match the route.
I could also use the same logic to obtain the links of the same page in the other languages!

[2016-01-10 14:56] nodegin commented on #83
@gpbl Any new progress on redux version of this boilerplate?

[2016-01-12 21:51] gpbl commented on #83
@nodegin not yet, still waiting the redux ecosystem to slow down a bit! I also would like to update isomorphic500 first :)

[2016-01-12 22:30] samkelleher commented on #37
@gpbl Where would you put them? I wanted to avoid putting them into each and every action, but I do have each of my actions setting a `title` property on the route. The `NAVIGATE_SUCCESS` action is then handled in a custom store that now has the correct title and urls, from which I trigger analytics. Did you come up with another solution?

[2016-01-12 22:32] gpbl commented on #37
@samkelleher what about using the custom store handling `NAVIGATE_SUCCESS`?

[2016-01-12 22:37] samkelleher commented on #37
@gpbl This is what I have ended up doing, I have a `TitleStore` which manages the `document.title` and now calling Google Analytics. It works. However it doesn't record the initial page load, since there is no in-page page navigation.  I'm working on this now to find an elegant solution. I can feed back what I end up doing. I've been using your *amazing* starter project as a guide. 😍

[2016-01-13 10:44] nodegin commented on #83
@gpbl lol, good work

[2016-04-13 18:57] danilobuerger commented on #52
@gpbl Thank you for providing this awesome repository. I made a loader that does exactly what you need to reduce `IntlUtils` to a minimum. See https://github.com/danilobuerger/react-intl-loader

[2016-04-13 19:35] gpbl commented on #52
woah @danilobuerger you rock!! Does it even work with react-intl 2.0?

[2016-04-13 19:36] danilobuerger commented on #52
@gpbl yes, only with 2.0 as it requires the `addLocaleData` and i didn't bother with switching between those.

[2016-04-13 19:38] danilobuerger commented on #52
But i guess if you need to support 1.0 as well, it would be a very simple case to just check if `addLocaleData` exists... i could implement that if needed

[2016-04-13 19:41] gpbl commented on #52
@danilobuerger Awesome ! Well done! No i don't think is worth having it working on react-intl 1.0. Sure I'd like to have the time to update this repo 💦😄

[2016-04-13 19:46] danilobuerger commented on #52
@gpbl if you do, you should also consider redux, would reduce a lot of additional boilerplate related to intl

[2016-04-13 20:13] gpbl commented on #52
👍 see [redux500](https://github.com/gpbl/redux500) – still work in progress: I'm just finished migrating a flux app to redux and i've got much more experience with it.

[2016-05-25 16:55] #87 closed

[2016-07-21 14:29] selaromi opened #90 "How to load specific locales like es-MX or en-GB"
Hello! Great job on the project!! It's great.

I wanted to ask, cause I've been trying different things, how can I use for a certain locale, lets say 'en', the intl locale 'en-GB'.

Thanks a lot for your time!

[2016-07-21 14:31] gpbl commented on #90
Hi @selaromi! I suggest you to upgrade to react-intl v2 and read its documentation about loading locales. This project is rather old and it is using an older version of react-intl.

[2016-07-21 15:53] selaromi commented on #90
ok! thanks @gpbl!! :D

[2017-04-01 16:17] richyrb00 opened #91 "Locale Urls"
Great Repo!

This isn't really a bug, but more of a feature request that you may want to add?

When a user selects a different language, the content changes to that language which is great, but then the URL structure stays the same for each page.

i would look to provide a local URL structure..

if en_US serve as domain.com/page
if de_DE serve as domain.com/de/seite

etc..

this would help with in

[2017-04-18 02:21] adl1995 opened #92 "Running the development version using Node 4"
I have installed Node 4 using `n` as this was mentioned in the README.md file. But, I receive this error whenever I execute the `npm run dev` command:

[code]

[2017-05-11 10:14] NBroomfield commented on #40
https://www.npmjs.com/package/cross-env

[2017-08-31 13:58] ShunmugamAiyappan opened #93 "Npm install -- Throws be python error"
E:\Projects\FrontEnd\Incentivio\isomorphic500\node_modules\node-gyp\bin\node-gyp.js rebuild --verbose --libsass_ext= --libsass_cflags= --libsass_ldflags= --libsass_library=
gyp info it worked if it ends with ok
gyp verb cli [ 'C:\\Users\\Shan-Aeturnum\\AppData\\Roaming\\nvm\\v6.11.2\\node.exe',
gyp verb cli   'E:\\Projects\\FrontEnd\\Incentivio\\isomorphic500\\node_modules\\node-gyp\\bin\\node-gyp

[2017-08-31 13:59] ShunmugamAiyappan commented on #93
I have change the node-sass version, now its working

[2017-08-31 14:04] ShunmugamAiyappan commented on #93
Failed to set error notification.
E:\Projects\FrontEnd\Incentivio\isomorphic500\node_modules\webpack-dev-server\lib\Server.js:29
        const validationErrors = webpack.validateSchema(optionsSchema, options);
                                         ^

TypeError: webpack.validateSchema is not a function
    at new Server (E:\Projects\FrontEnd\Incentivio\isomorphic500\node_modules\webpack-dev-serv